<h1>All Historical Landmarks</h1>

<% Landmark.all.each do |landmark| %>
  <h2><%= landmark.name %></h2>
  <ul>
    <li>Year completed: <%= landmark.year_completed %></li>
    <li>Famous figure: <%= landmark.figure.name %></li>
  </ul>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
