<h1><%= @landmark.name %></h1>
<ul>
  <li>Year completed: <%= @landmark.year_completed %></li>
  <li>Famous figure: <%= @landmark.figure.name %></li>
</ul>
<br>
<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
<a class="button" href="/landmarks">Landmarks</a>
